@model IEnumerable<OTTMangementSystem.Entities.Platform>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Info !</strong>
        @TempData["InfoMessage"] <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span>X</span>
        </button>
    </div>
}



else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>success !</strong>
        @TempData["SuccessMessage"] <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span>X</span>
        </button>
    </div>
}


else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error !</strong>
        @TempData["ErrorMessage"] <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span>X</span>
        </button>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlatformName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyCost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlatformName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyCost)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlatformID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlatformID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlatformID },new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
